/* color */
@white: #fff;
@nav-font: #999;
@nav-font-hover: #ddd;

@banner-gray: #333;
@banner-dark: #252525;

@button-pink: #ea4c89;
@button-dark-pink: #df3e7b;

@content-title: #444;
@content-title-bg: rgba(255,255,255,0.6); 
@content-title-border: #e5e5e5;
@content-bg: #f4f4f4;