@import '~@styles/theme.less';

.discussion-wrapper {
  &:last-child {
    border-bottom: none;
  }
  border-bottom: 1px solid @content-title-border;
  .discussion-inner {
    padding: 10px;
    h2 {
      
    }
    p {
      margin-top: 10px;
    }
    .bottom-wapper {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      .details-wrapper {
        .detail {
          margin-left: 20px;
          font-size: 12px;
          font-weight: 700;
          color: @nav-font;
        }
      }
    }
  }
}