@import '~@styles/theme.less';
#discussion-content-detail {
  margin: 0 auto;
  width: 60%;
  overflow: hidden;
  .discussion-content{
    h2 {
      margin: 0 10px;
    }
  }
  .box-wrapper {
    .user-info {
      display: flex;
      justify-content: space-between;
      .user-right-date {
        display: flex;
        align-items: center;
      }
    }
    .discussion-bottom {
      display: flex;
      justify-content: space-between;
    }
  }
}